.App {
  text-align: center;
  background: #ccbcb5;
  max-height: 100%;
}

.App-logo {
  animation: App-logo-spin 1 20s linear;
  pointer-events: none;
  width: 100%;
}
.App-logo img {
  width: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 80%;
}
.links {
  width: 50%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  border: #61dafb 5px solid;
  border-radius: 10px;
  margin: 1% 10%;
  padding: 0 2%;
}

.styledNav {
  background: #282c34;
}

.styledNav img {
  width: 50px;
}
